html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #512200;
  font-family: 'Dosis', sans-serif;
	text-decoration: none;
}

.link-card {
	background-color: #dcd4cd;
	color: #512200;
}

dd,dt {
	display: inline-block;
	width: 45%;
	margin: 0;
}

main {
	border-top: 3px solid #9a816d;
}

div {
	border-top: 3px solid #9a816d;
	color: white;
}
